* {
  margin: 0;
  padding: 0;
}

div h1 {
  color: rgb(247, 239, 239);
  background-color: rgb(65, 235, 65);
}

div {
  background-color: rgb(226, 218, 218);
}

p {
  color: #0033ff;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  text-align: justify;
}

ul {
  font-family: "Roboto Mono", monospace;
  line-height: 20px;
  list-style: square inside
    url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
}

.desafioTres {
  color: black;
}

.images {
  padding-left: 30rem;
  width: 40%;
  position: relative;
}
