* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inspeccionar con el navegador para mayor claridad */
h1 {
    color: blanchedalmond;
    background-color: cadetblue;
    font-size: 50px;
    margin: 25px 5px 25px 5px; 
    padding: 35px 15px 35px 15px;
    border: 5px solid red;
}

.caja {
    position: relative;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    line-height: 2rem;
    background-color: seagreen;
    width: 50vh;
    height: 30vh;
    margin: 1rem 1rem 1rem 1rem; /* en sentido horario */
    border: 5px solid red;
}

.cajaDos {
    font-style: oblique;
    font-size: 30px;
    background-color: rgb(147, 179, 161);
    width: 30rem;
    height: 30rem;
    border-radius: 25px;
    border: 5px double grey;
}

.boton {
    background-color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    position: fixed;
    margin-left: 20rem;
}

.cajaFloat {
    display: block; /* a partir de su posición, queda "fijo" */
    float: left;
    width: 15rem;
    height: 15rem;
    border: 8px solid goldenrod;
    margin-top: 20px;
}

/* Ver etiqueta div en HTML, para "cortar" el estilo de las cajas previas */
.limpiar {
    float: none;
    clear: both;
}

h4 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    text-align: center;
}