* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unDiv {
    display: flex;
    background-color: rgb(240, 192, 120);
    justify-content: center;
    /* Con este estilo invierto los divs (ver HTML) */
    flex-flow: row-reverse;
}

.cuadrado {
    background-color: cornflowerblue;
    width: 20%;
}

.imagenes {
    background-color: rgb(175, 137, 87);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.imagenesVersion {
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-end;

}

.imagenesVersionDos {
    display: flex;
    background-color: darkgreen;
    flex-direction: column-reverse;
    align-items: center;
}

.imagenesVersionDos img {
    width: 8rem;
    justify-content: center;
}

/* como no tiene el display: flex; no aplica */
p {
    justify-content: center;
}

.separador {
    font-size: 250%;
    background-color: darkcyan;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}