.miGrilla {
    display: grid;
    grid-template-columns: repeat(2,30%);
    grid-template-rows: minmax(30%,auto);
}

.miGrilla div {
    background-color: cadetblue;
}

.miGrilla h1 {
    color: cornsilk;
}

#grillaClase {
    display: grid;
    grid-template-areas: 
        "nav header header"
        "nav productos publicidad"
        "nav servicios publicidad"
        "nav footer footer";
    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 20% auto 15%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-top: 20px;
    height: 80%;
    text-align: center;
}

.border {
    border: 1px solid black;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

section#productos {
    grid-area: productos;
}

section#servicios {
    grid-area: servicios;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: publicidad;
}

/* Aplicando media queries para el desafío de Coder */
/* Tablet */
@media only screen and (min-width:768px)
    {
        #grillaClase {
            grid-template-columns: repeat(4,1fr);
        }
        .border {
            border: 4px solid brown;
            background-color: burlywood;
        }
    }

/* Desktop */
@media only screen and (min-width:1024px)
    {
        #grillaClase {
            grid-template-columns: repeat(3,1fr);
        }
        .border {
            border: 4px solid black;
            background-color: gold;
        }
    }








